.jumbotron {
  text-align: center;
  color: #334e7a;
  font-family: monospace;
  font-size: 40px;
}

img {
  width: 100%;
}

h3 {
  text-align: center;
  color: #bfb17e;
}

h2 {
  text-align: center;
  color: #7ebf9b;
}
